<%= form_for @event do |f| -%>
  <p>
  	<%= f.label :title, "Titulo" %>
  	<%= f.text_field :title %>
  </p>
  <p>
  	<%= f.label :description, "Descrição" %>
  	<%= f.text_area :description %>
  </p>
  <p>
  <%= f.submit %>
  </p>
<% end %>